<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (pageTitle)">
    <title th:text="${pageTitle}">TrabJus</title>
    <meta name="viewport" content="width=device-with, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .indent {
            margin-left: 30px;
        }
    </style>
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header">Login</h1>

    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>


    <form th:object="${loginForm}" method="post" th:action="@{/form/{url}(url=${url})}" class="form-horizontal">
        <!--1-->
        <div class="form-group">
            <div class="col-sm-6">
                <label for="username" class="col-sm-3 control-label">Username</label>
                <input th:field="*{username}" type="text" class="form-control" id="username" maxlength="50" placeholder="Username" />
                <p class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
                <input th:field="*{password}" type="text" class="form-control" id="password" maxlength="50" placeholder="Password"/>
                <p class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
            </div>
        </div>


    </form>
    <br/>
</div>

<div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
</html>