<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Novo Processo')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header">Inserir Dados do Processo</h1>

    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <form th:object="${formularioForm1}" method="post" th:action="@{/form/{url}(url=${url})}" class="form-horizontal">
        <!--1-->
        <div class="form-group" th:classappend="${#fields.hasErrors('processId')} ? 'has-error' : ''">
            <label for="processId" class="col-sm-3 control-label">Processo nº:</label>
            <div class="col-sm-6">
                <input th:field="*{processId}" type="text" class="form-control" id="processId" maxlength="50" th:readonly="${formularioForm1.edit}" />
                <p class="help-block" th:if="${#fields.hasErrors('processId')}" th:errors="*{processId}">Error</p>
            </div>
        </div>

        <!-- 1.1 -->
        <div class="form-group" th:classappend="${#fields.hasErrors('comarca')} ? 'has-error' : ''">
            <label for="comarca" class="col-sm-3 control-label">Comarca</label>
            <div class="col-sm-6">
                <select th:field="*{comarca}" class="form-control" id="comarca" th:disabled="${formularioForm1.submetido}">
                    <option value="" th:selected="${formularioForm1.comarca==''}"></option>
                    <option value="Lisboa" th:selected="${formularioForm1.comarca=='Lisboa'}">Comarca de Lisboa</option>
                    <option value="LisboaOeste" th:selected="${formularioForm1.comarca=='LisboaOeste'}">Comarca de Lisboa Oeste</option>
                    <option value="LisboaNorte" th:selected="${formularioForm1.comarca=='LisboaNorte'}">Comarca de Lisboa Norte</option>
                    <option value="Porto" th:selected="${formularioForm1.comarca=='Porto'}">Comarca do Porto</option>
                </select>
                <p class="help-block" th:if="${#fields.hasErrors('comarca')}" th:errors="*{comarca}">Error</p>
            </div>
        </div>

        <!-- 1.2 -->
            <div class="form-group" th:classappend="${#fields.hasErrors('juizo')} ? 'has-error' : ''">
            <label for="juizo" class="col-sm-3 control-label">Juízo</label>
            <div class="col-sm-6">
                <select th:field="*{juizo}" class="form-control" id="juizo" th:disabled="${formularioForm1.submetido}">
                    <option value="" th:selected="${formularioForm1.juizo==''}"></option>
                    <option value="Trabalho de Lisboa" th:selected="${formularioForm1.juizo=='Trabalho de Lisboa'}">Juízo do Trabalho de Lisboa</option>
                    <option value="Trabalho de Cascais" th:selected="${formularioForm1.juizo=='Trabalho de Cascais'}">Juízo do Trabalho de Cascais</option>
                    <option value="Trabalho de Sintra" th:selected="${formularioForm1.juizo=='Trabalho de Sintra'}">Juízo do Trabalho de Sintra</option>
                    <option value="Trabalho de Loures" th:selected="${formularioForm1.juizo=='Trabalho de Loures'}">Juízo do Trabalho de Loures</option>
                    <option value="Trabalho de Vila Nova de Gaia" th:selected="${formularioForm1.juizo=='Trabalho de Vila Nova de Gaia'}">Juízo do Trabalho de Vila Nova de Gaia</option>
                    <option value="Trabalho do Porto" th:selected="${formularioForm1.juizo=='Trabalho do Porto'}">Juízo do Trabalho do Porto</option>
                    <option value="Trabalho da Maia" th:selected="${formularioForm1.juizo=='Trabalho da Maia'}">Juízo do Trabalho da Maia</option>
                    <option value="Trabalho de Valongo" th:selected="${formularioForm1.juizo=='Trabalho da Maia'}">Juízo do Trabalho de Valongo</option>
                </select>
                <p class="help-block" th:if="${#fields.hasErrors('juizo')}" th:errors="*{juizo}">Error</p>
            </div>
        </div>


        <!--2-->
        <div class="form-group">
            <label class="col-sm-3 control-label">2 - Relação jurídica material:</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        <input th:field="*{s2_A}" type="checkbox" class="grupo-2" th:disabled="${formularioForm1.submetido}">Situação contratual individual
                    </label>
                    <br>
                    <label>
                        <input th:field="*{s2_B}" type="checkbox" class="grupo-2" th:disabled="${formularioForm1.submetido}">Múltiplas situações contratuais individuais
                    </label>
                </div>
            </div>
        </div>

        <!--3-->
        <div class="panel panel-default">
            <div class="panel-heading">3 - Duração do processo</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:for="s3_1">Início da instância (data do recebimento da participação):</label>
                        <input th:field="*{s3_1}" type="date" class="form-control" maxlength="100" th:disabled="${formularioForm1.submetido}"/>
                        <br>
                        <label th:for="s3_2">Data da propositura da ação:</label>
                        <input th:field="*{s3_2}" type="date" class="form-control" maxlength="100" th:disabled="${formularioForm1.submetido}"/>
                        <br>
                        <label th:for="s3_3">Data da prolação da sentença:</label>
                        <input th:field="*{s3_3}" type="date" class="form-control" maxlength="100" th:disabled="${formularioForm1.submetido}"/>
                        <br>
                        <label class="control-label">Trânsito em julgado</label>
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s3_4_A}" type="checkbox" class="grupo-3" th:disabled="${formularioForm1.submetido}"> Não
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s3_4_B}" type="checkbox" class="grupo-3" th:disabled="${formularioForm1.submetido}"> Sim
                            </label>
                        </div>
                        <br/>
                        <label th:for="s3_4_1">Data do trânsito em julgado: </label>
                        <input th:field="*{s3_4_1}" type="date" class="form-control" maxlength="100" th:disabled="${formularioForm1.submetido}"/>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s3_4_2}" type="checkbox" class="grupo-3" th:disabled="${formularioForm1.submetido}">Não é possível apurar
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--4-->
        <div class="panel panel-default">
            <div class="panel-heading">4 - Conhecimento da irregularidade, propositura da ação e fase dos articulados</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label class="control-label">4.1 - Conhecimento inicial da irregularidade</label>
                        <div class="checkbox">
                            <!-- 4.1.1 -->
                            <label>
                                <input th:field="*{s4_1_1}" type="checkbox" class="grupo-4-1" th:disabled="${formularioForm1.submetido}"> 4.1.1 - Pela ACT, através da participação prevista no nº 3 do art. 15º da Lei nº 107/2009
                                Participação, como assistente, de associação sindical representativa durante a tramitação da fase administrativa da ação inspetiva ?
                            </label>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s4_1_1_A}" type="checkbox" class="grupo-4-3-e" th:disabled="${formularioForm1.submetido}">A -  Sim
                                </label>
                            </div>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s4_1_1_B}" type="checkbox" class="grupo-4-3-e" th:disabled="${formularioForm1.submetido}">B - Não
                                </label>
                            </div>
                            <!-- 4.1.2 -->
                            <div>
                                <label>
                                    <input th:field="*{s4_1_2}" type="checkbox" class="grupo-4-1" th:disabled="${formularioForm1.submetido}">4.1.2 - Por qualquer outro meio
                                </label>
                            </div>
                            <div>
                                <label th:for="s4_1_2">Qual?</label>
                                <input th:field="*{s4_1_2_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5 -->
        <div class="panel panel-default">
            <div class="panel-heading">5 - Aspectos de natureza sociológica</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">5.1 - Trabalhador  </label>
                    <br>
                    <!-- 5.1.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.1.1 - Género</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s5_1_1_A}" type="checkbox" class="grupo-5-2" th:disabled="${formularioForm1.submetido}">A - Feminino
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_1_B}" type="checkbox" class="grupo-5-2" th:disabled="${formularioForm1.submetido}">B - Masculino
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 5.1.2 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.1.2 - Idade</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s5_1_2_A}" type="checkbox" class="grupo-5-3" th:disabled="${formularioForm1.submetido}">A - Entre 16 e 24 anos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_2_B}" type="checkbox" class="grupo-5-3" th:disabled="${formularioForm1.submetido}">B - Entre 25 e 34 anos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_2_C}" type="checkbox" class="grupo-5-3" th:disabled="${formularioForm1.submetido}">C - Entre 35 e 44 anos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_2_D}" type="checkbox" class="grupo-5-3" th:disabled="${formularioForm1.submetido}">D - Com 45 e mais anos
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 5.1.3 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.1.3 - Nacionalidade</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s5_1_3_A}" type="checkbox" class="grupo-5-4" th:disabled="${formularioForm1.submetido}">A - Não é possível identificar
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_3_B}" type="checkbox" class="grupo-5-4" th:disabled="${formularioForm1.submetido}">B - Português
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_3_C}" type="checkbox" class="grupo-5-4" th:disabled="${formularioForm1.submetido}">C - Cidadadão do espaço Europeu
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_3_D}" type="checkbox" class="grupo-5-4" th:disabled="${formularioForm1.submetido}">D - Cidadão com outra nacionalidade
                                </label>
                                <br>
                                <label>
                                    Qual?<input th:field="*{s5_1_3_D_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 5.1.4 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.1.4 - Escolaridade</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s5_1_4_A}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">A - Não é possível identificar
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_B}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">B - Sem escolaridade formal
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_C}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">C - Ensino básico incompleto
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_D}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">D - Ensino básico completo
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_E}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">E - Ensino secundário incompleto
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_F}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">F - Ensino secundário completo
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_G}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">G - Ensino técnico/profissionalizante
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_H}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">H - Ensino superior incompleto
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_I}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">I - Licenciatura
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_J}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">J - Mestrado
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_1_4_L}" type="checkbox" class="grupo-5-5" th:disabled="${formularioForm1.submetido}">L - Doutoramento
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 5.2 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.2 - Empregador</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s5_2_A}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">A - Empresário em nome individual
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_B}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">B - Establecimento Individual de Responsabilidade Limitada (EIRL)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_C}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">C - Sociedade em nome coletivo
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_D}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">D - Sociedade unipessoal por quotas
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_E}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">E - Sociedade em nome coletivo
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_F}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">F - Sociedade por quotas
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_G}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">G - Sociedade anónima
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_H}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">H - Cooperativa
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_2_I}" type="checkbox" class="grupo-5-6" th:disabled="${formularioForm1.submetido}">I - Outro arranjo societário
                                </label>
                                <br>
                                <label th:for="s5_2_I">Qual?</label>
                                <input th:field="*{s5_2_I_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 5.3 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.3 - Principal atividade económica explorada pelo beneficiário
                            do trabalho (de acordo com as grandes categorias da
                            Classificação Portuguesa das Atividade Económicas):</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s5_3_A}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">A - Agricultura, produção animal, caça, floresta e pesca
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_B}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">B - Indústrias extrativas
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_C}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">C - Indústrias transformadoras
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_D}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">D - Eletricidade, gás, vapor, água quente e fria e ar frio
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_E}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">E - Captação, tratamento e distribuição de água; saneamento, gestão de resíduos e despoluição
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_F}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">F - Construção
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_G}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">G - Comércio por grosso e a retalho; reparação de veículos automóveis e motociclos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_H}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">H - Transportes e armazenagem
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_I}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">I - Alojamento, restauração e similares
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_J}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">J - Atividades de informação e de comunicação
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_L}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">L - Atividades financeiras e de seguros
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_M}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">M - Atividades imobiliárias
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_N}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">N - Atividades de consultoria, científicas, técnicas e similares
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_O}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">O - Atividades administrativas e dos serviços de apoio
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_P}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">P - Administração pública e defesa; Segurança Social Obrigatória
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_Q}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">Q - Educação
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_R}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">R - Atividades de saúde humana e apoio social
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_S}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">S - Atividades artísticas, de espetáculos, desportivas e recreativas
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_T}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">T - Outras atividades de serviços
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_U}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">U - Atividades das famílias empregadoras de pessoal doméstico e atividades de produção das famílias para uso próprio
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s5_3_V}" type="checkbox" class="grupo-5-6-1" th:disabled="${formularioForm1.submetido}">V - Atividades dos organismos internacionais e outras instituições extra-territoriais
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 6 -->
        <div class="panel panel-default">
            <div class="panel-heading">6 - Petição Inicial</div>
            <div class="panel-body">
                <div class="form-group">
                    <!--6-->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s6_A}" type="checkbox" class="grupo-6" th:disabled="${formularioForm1.submetido}">A - Pedido único
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s6_B}" type="checkbox" class="grupo-6" th:disabled="${formularioForm1.submetido}">B - Cumulação de pedidos
                                </label>
                                <br>
                                <label th:for="s6_B_f">Qual?</label>
                                <input th:field="*{s6_B_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                                <br>
                            </div>
                        </div>
                        <!--6.1-->
                        <label class="control-label">6.1 - Quanto ao pedido e causa de pedir, há alguma vicissitude digna de nota?</label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <div class="checkbox indent">
                                    <label>
                                        <input th:field="*{s6_1_A}" type="checkbox" class="grupo-6-1" th:disabled="${formularioForm1.submetido}">A - Não
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s6_1_B}" type="checkbox" class="grupo-6-1" th:disabled="${formularioForm1.submetido}">B - Sim
                                    </label>
                                    <br>
                                    <label th:for="s6_1_B_f">Qual?</label>
                                    <input th:field="*{s6_1_B_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 7 -->
        <div class="panel panel-default">
            <div class="panel-heading">7 - Produção de provas Ministério Público</div>
            <div class="panel-body">
                <div class="form-group">
                    <br>
                    <!-- 7.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">7.1 - Meios de prova apresentados pelo Ministério Público:</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s7_1_A}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">A - Depoimento de parte (da parte contrária)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_B}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">B - Apresentação de documentos por iniciativa própria / documentos coligidos pela ACT
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_C}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">C - Requerimento para que a parte contrária apresente documentos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_D}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">D - Requisição de documentos a organismos oficiais
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_E}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">E - Requisição de documentos às partes
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_F}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">F - Requisição de documentos a terceiros
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_G}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">G - Testemunhas (com algum vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_H}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">H - Testemunhas (sem vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_I}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">I - Prova pericial
                                </label>
                                <br>
                                <label th:for="s7_1_I_f">Qual?</label>
                                <input th:field="*{s7_1_I_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}" />
                                <br>
                                <label>
                                    <input th:field="*{s7_1_J}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}" >J - Prova por inspeção judicial
                                </label>
                                <br>
                                <label th:for="s7_1_J_f">Qual?</label>
                                <input th:field="*{s7_1_J_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_L}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">L - Verificação não judicial qualificada
                                </label>
                                <br>
                                <label th:for="s7_1_L_f">Qual?</label>
                                <input th:field="*{s7_1_L_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s7_1_M}" type="checkbox" class="grupo-7" th:disabled="${formularioForm1.submetido}">M - Outra
                                </label>
                                <br>
                                <label th:for="s7_1_M_f">Qual?</label>
                                <input th:field="*{s7_1_M_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm1.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- botões -->
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <input type="submit" name="operation" th:if="${formularioForm1.submetido == false}" value="Gravar" class="btn btn-primary"/>
                    <input type="submit" name="operation" value="Avançar >>" class="btn btn-primary"/>
                </div>
            </div>
        </div>

    </form>
    <br/>
</div>

<div th:replace="layout/layout :: footer"></div>
<script>
    function mutuallyExclusive(groupName) {
        $('.' + groupName).click(function() {
            $('.' + groupName).prop("checked", false);
            $(this).prop("checked", true);
        });
    }

    $(document).ready(function() {
        let groups = [ "grupo-2",
            "grupo-5",
            "grupo-3",
            "grupo-4-1", "grupo-4-3-e",
            "grupo-4-2","grupo-4-2-1",
            "grupo-5-2","grupo-5-3", "grupo-5-4", "grupo-5-5","grupo-5-6","grupo-5-6-1",
            "grupo-6","grupo-6-1",
            "grupo-7"]
        groups.forEach(mutuallyExclusive)
    });
</script>
</body>
</html>