<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Novo Processo')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header">Inserir Dados do Processo</h1>


    <form th:object="${formularioForm1}" method="post" th:action="@{/form/1}" class="form-horizontal">
        <!--1-->
        <div class="form-group" th:classappend="${#fields.hasErrors('processId')} ? 'has-error' : ''">
            <label for="processId" class="col-sm-3 control-label">Processo nº:</label>
            <div class="col-sm-9">
                <input th:field="*{processId}" type="text" class="form-control" id="processId" maxlength="100"/>
                <p class="help-block" th:if="${#fields.hasErrors('processId')}" th:errors="*{processId}">Error</p>
            </div>
        </div>

        <!--2-->
        <div class="form-group">
            <label class="col-sm-3 control-label">2 - Relação jurídica material:</label>
            <div class="col-sm-9">
                <input th:field="*{s2_A}" type="checkbox" class="grupo-2">
                <label th:for="${#ids.prev('s2_A')}">Situação contratual individual</label>
                <br>
                <input th:field="*{s2_B}" type="checkbox" class="grupo-2">
                <label th:for="${#ids.prev('s2_B')}">Múltiplas situações contratuais individuais</label>
            </div>
        </div>

        <!--3-->
        <div class="panel panel-default">
            <div class="panel-heading">3 - Duração do processo</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:for="s3_1">Início da instância (data do recebimento da participação):</label>
                        <input th:field="*{s3_1}" type="date" class="form-control" maxlength="100"/>
                        <br>
                        <label th:for="s3_2">Data da propositura da ação:</label>
                        <input th:field="*{s3_2}" type="date" class="form-control" maxlength="100"/>
                        <br>
                        <label th:for="s3_3">Data da prolação da sentença:</label>
                        <input th:field="*{s3_3}" type="date" class="form-control" maxlength="100"/>
                        <br>

                        <label class="control-label">Trânsito em julgado</label>
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s3_4_A}" type="checkbox" class="grupo-3"> Não
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s3_4_B}" type="checkbox" class="grupo-3"> Sim
                            </label>
                        </div>
                        <br/>
                        <label th:for="s3_4_1">Data do trânsito em julgado: </label>
                        <input th:field="*{s3_4_1}" type="date" class="form-control" maxlength="100"/>
                    </div>
                </div>
            </div>
        </div>

        <!--4-->
        <div class="panel panel-default">
            <div class="panel-heading">4 - Conhecimento da irregularidade, propositura da ação e fase dos articulados</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label class="control-label">4.1 - Conhecimento inicial da irregularidade</label>
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s4_2}" type="checkbox" class="grupo-4-1"> 4.2 - Pela ACT, através da participação prevista no nº 3 do art. 15º da Lei nº 107/2009
                                Participação, como assistente, de associação sindical representativa durante a tramitação da fase administrativa da ação inspetiva ?
                            </label>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s4_2_A}" type="checkbox" class="grupo-4-3-e">A -  Sim
                                </label>
                            </div>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s4_2_B}" type="checkbox" class="grupo-4-3-e">B - Não
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input th:field="*{s4_3}" type="checkbox" class="grupo-4-1">4.3 - Por qualquer outro meio
                                </label>
                            </div>
                            <div>
                                <label th:for="s4_3_f">Qual?</label>
                                <input th:field="*{s4_3_f}" type="text" class="form-control" maxlength="100"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5 -->
        <div class="panel panel-default">
            <div class="panel-heading">5 - Aspectos de natureza sociológica</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">5.1 - Trabalhador  </label>
                    <br>
                    <!-- 5.2 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.2 - Género</label>
                        <div class="checkbox indent">
                            <input th:field="*{s5_2_A}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_2_A')}">A - Feminino</label>
                            <br>
                            <input th:field="*{s5_2_B}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_2_B')}">B - Masculino</label>
                            <br>
                        </div>
                    </div>
                    <!-- 5.3 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.3 - Idade</label>
                        <div class="checkbox indent">
                            <input th:field="*{s5_3_A}" type="checkbox" class="grupo-5-3">
                            <label th:for="${#ids.prev('s5_3_A')}">A - Entre 16 e 24 anos</label>
                            <br>
                            <input th:field="*{s5_3_B}" type="checkbox" class="grupo-5-3">
                            <label th:for="${#ids.prev('s5_3_B')}">B - Entre 25 e 34 anos</label>
                            <br>
                            <input th:field="*{s5_3_C}" type="checkbox" class="grupo-5-3">
                            <label th:for="${#ids.prev('s5_3_C')}">C - Entre 35 e 44 anos</label>
                            <br>
                            <input th:field="*{s5_3_D}" type="checkbox" class="grupo-5-3">
                            <label th:for="${#ids.prev('s5_3_D')}">D - Com 45 e mais anos</label>
                            <br>
                        </div>
                    </div>
                    <!-- 5.4 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.4 - Nacionalidade</label>
                        <div class="checkbox indent">
                            <input th:field="*{s5_4_A}" type="checkbox" class="grupo-5-4">
                            <label th:for="${#ids.prev('s5_4_A')}">A - Não é possível identificar</label>
                            <br>
                            <input th:field="*{s5_4_B}" type="checkbox" class="grupo-5-4">
                            <label th:for="${#ids.prev('s5_4_B')}">B - Português</label>
                            <br>
                            <input th:field="*{s5_4_C}" type="checkbox" class="grupo-5-4">
                            <label th:for="${#ids.prev('s5_4_C')}">C - Cidadadão do espaço Europeu </label>
                            <br>
                            <input th:field="*{s5_4_D}" type="checkbox" class="grupo-5-4">
                            <label th:for="${#ids.prev('s5_4_D')}">D - Cidadão com outra nacionalidade</label>
                            <br>
                            <label th:for="s5_4_D_f">Qual?</label>
                            <input th:field="*{s5_4_D_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                    </div>
                    <!-- 5.5 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.5 - Escolaridade</label>
                        <div class="checkbox indent">
                            <input th:field="*{s5_5_A}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_A')}">A - Não é possível identificar</label>
                            <br>
                            <input th:field="*{s5_5_B}" type="checkbox" class="grupo-5-5">
                            <label th:for="${#ids.prev('s5_5_B')}">B - Sem escolaridade formal</label>
                            <br>
                            <input th:field="*{s5_5_C}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_C')}">C - Ensino básico incompleto</label>
                            <br>
                            <input th:field="*{s5_5_D}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_D')}">D - Ensino básico completo</label>
                            <br>
                            <input th:field="*{s5_5_E}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_E')}">E - Ensino secundário incompleto</label>
                            <br>
                            <input th:field="*{s5_5_F}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_F')}">F - Ensino secundário completo</label>
                            <br>
                            <input th:field="*{s5_5_G}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_G')}">G - Ensino técnico/profissionalizante</label>
                            <br>
                            <input th:field="*{s5_5_H}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_H')}">H - Ensino superior incompleto</label>
                            <br>
                            <input th:field="*{s5_5_I}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_I')}">I - Licenciatura</label>
                            <br>
                            <input th:field="*{s5_5_J}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_J')}">J - Mestrado</label>
                            <br>
                            <input th:field="*{s5_5_L}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s5_5_L')}">L - Doutoramento</label>
                            <br>
                        </div>
                    </div>
                    <!-- 5.6 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.6 - Empregador</label>
                        <div class="checkbox indent">
                            <input th:field="*{s5_6_A}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_A')}">A - Empresário em nome individual</label>
                            <br>
                            <input th:field="*{s5_6_B}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_B')}">B - Establecimento Individual de Responsabilidade Limitada (EIRL)</label>
                            <br>
                            <input th:field="*{s5_6_D}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_D')}">C - Sociedade em nome coletivo</label>
                            <br>
                            <input th:field="*{s5_6_E}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_E')}">D - Sociedade unipessoal por quotas</label>
                            <br>
                            <input th:field="*{s5_6_F}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_F')}">E - Sociedade em nome coletivo</label>
                            <br>
                            <input th:field="*{s5_6_G}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_G')}">F - Sociedade por quotas</label>
                            <br>
                            <input th:field="*{s5_6_H}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_H')}">G - Sociedade anónima</label>
                            <br>
                            <input th:field="*{s5_6_I}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_I')}">H - Cooperativa</label>
                            <br>
                            <input th:field="*{s5_6_I_f}" type="checkbox" class="grupo-5-6">
                            <label th:for="${#ids.prev('s5_6_I_f')}">I - Outro arranjo societário</label>
                            <br>
                            <label th:for="s5_4_D_f">Qual?</label>
                            <input th:field="*{s5_4_D_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                    </div>
                    <!-- 5.6.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.6.1 - Principal atividade económica explorada pelo beneficiário
                            do trabalho (de acordo com as grandes categorias da
                            Classificação Portuguesa das Atividade Económicas):</label>
                        <div class="checkbox indent">
                            <input th:field="*{s5_6_1_A}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_A')}">A - Agricultura, produção animal, caça, floresta e pesca</label>
                            <br>
                            <input th:field="*{s5_6_1_B}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_B')}">B - Indústrias extrativas</label>
                            <br>
                            <input th:field="*{s5_6_1_C}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_C')}">C - Indústrias transformadoras</label>
                            <br>
                            <input th:field="*{s5_6_1_D}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_D')}">D - Eletricidade, gás, vapor, água quente e fria e ar frio</label>
                            <br>
                            <input th:field="*{s5_6_1_E}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_E')}">E - Captação, tratamento e distribuição de água; saneamento, gestão de resíduos e despoluição</label>
                            <br>
                            <input th:field="*{s5_6_1_F}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_F')}">F - Construção</label>
                            <br>
                            <input th:field="*{s5_6_1_G}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_G')}">G - Comércio por grosso e a retalho; reparação de veículos automóveis e motociclos</label>
                            <br>
                            <input th:field="*{s5_6_1_I}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_I')}">H - Transportes e armazenagem</label>
                            <br>
                            <input th:field="*{s5_6_1_J}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_J')}">I - Alojamento, restauração e similares</label>
                            <br>
                            <input th:field="*{s5_6_1_J}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_J')}">J - Atividades de informação e de comunicação</label>
                            <br>
                            <input th:field="*{s5_6_1_L}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_L')}">L - Atividades financeiras e de seguros</label>
                            <br>
                            <input th:field="*{s5_6_1_M}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_M')}">M - Atividades imobiliárias</label>
                            <br>
                            <input th:field="*{s5_6_1_N}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_N')}">N - Atividades de consultoria, científicas, técnicas e similares</label>
                            <br>
                            <input th:field="*{s5_6_1_O}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_O')}">O - Atividades administrativas e dos serviços de apoio</label>
                            <br>
                            <input th:field="*{s5_6_1_P}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_P')}">P - Administração pública e defesa; Segurança Social Obrigatória</label>
                            <br>
                            <input th:field="*{s5_6_1_Q}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_Q')}">Q - Educação</label>
                            <br>
                            <input th:field="*{s5_6_1_R}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_R')}">R - Atividades de saúde humana e apoio social</label>
                            <br>
                            <input th:field="*{s5_6_1_S}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_S')}">S - Atividades artísticas, de espetáculos, desportivas e recreativas</label>
                            <br>
                            <input th:field="*{s5_6_1_T}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_T')}">T - Outras atividades de serviços</label>
                            <br>
                            <input th:field="*{s5_6_1_U}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_U')}">U - Atividades das famílias empregadoras de pessoal doméstico e atividades de produção das famílias para uso próprio</label>
                            <br>
                            <input th:field="*{s5_6_1_V}" type="checkbox" class="grupo-5-6-1">
                            <label th:for="${#ids.prev('s5_6_1_V')}">V - Atividades dos organismos internacionais e outras instituições extra-territoriais</label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 6 -->
        <div class="panel panel-default">
            <div class="panel-heading">6 - Petição Inicial</div>
            <div class="panel-body">
                <div class="form-group">
                    <!--6-->
                    <div class="col-sm-9">
                        <div class="checkbox indent">
                            <input th:field="*{s6_A}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s6_A')}">A - Pedido único</label>
                            <br>
                            <input th:field="*{s6_B}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s6_B')}">B - Cumulação de pedidos</label>
                            <br>
                            <label th:for="s6_B_f">Qual?</label>
                            <input th:field="*{s6_B_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                        <!--6.1-->
                        <label class="control-label">6.1 - Quanto ao pedido e causa de pedir, há alguma vicissitude digna de nota?</label>
                        <div class="col-sm-9">
                            <div class="checkbox indent">
                                <input th:field="*{s6_1_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s6_1_A')}">A - Não</label>
                                <br>
                                <input th:field="*{s6_1_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s6_1_B')}">B - Sim</label>
                                <br>
                                <label th:for="s6_1_B_f">Qual?</label>
                                <input th:field="*{s6_1_B_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 7 -->
        <div class="panel panel-default">
            <div class="panel-heading">5 - Aspectos de natureza sociológica</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">5.1 - Trabalhador  </label>
                    <br>
                    <!-- 7.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">5.2 - Género</label>
                        <div class="checkbox indent">
                            <input th:field="*{s7_1_A}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_A')}">A - Depoimento de parte (da parte contrária)</label>
                            <br>
                            <input th:field="*{s7_1_B}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_B')}">B - Apresentação de documentos por iniciativa própria / documentos coligidos pela ACT</label>
                            <br>
                            <input th:field="*{s7_1_C}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_C')}">C - Requerimento para que a parte contrária apresente documentos</label>
                            <br>
                            <input th:field="*{s7_1_D}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_D')}">D - Requisição de documentos a organismos oficiais</label>
                            <br>
                            <input th:field="*{s7_1_E}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_E')}">E - Requisição de documentos às partes</label>
                            <br>
                            <input th:field="*{s7_1_F}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_F')}">F - Requisição de documentos a terceiros</label>
                            <br>
                            <input th:field="*{s7_1_G}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_G')}">G - Testemunhas (com algum vínculo à Ré)</label>
                            <br>
                            <input th:field="*{s7_1_H}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_H')}">H - Testemunhas (sem vínculo à Ré)</label>
                            <br>
                            <input th:field="*{s7_1_I}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_I')}">I - Prova pericial</label>
                            <br>
                            <label th:for="s7_1_I_f">Qual?</label>
                            <input th:field="*{s7_1_I_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                            <input th:field="*{s7_1_J}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_J')}">J - Prova por inspeção judicial</label>
                            <br>
                            <label th:for="s7_1_J_f">Qual?</label>
                            <input th:field="*{s7_1_J_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                            <input th:field="*{s7_1_L}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_L')}">L - Verificação não judicial qualificada</label>
                            <br>
                            <label th:for="s7_1_L_f">Qual?</label>
                            <input th:field="*{s7_1_L_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                            <input th:field="*{s7_1_M}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s7_1_M')}">M - Outra</label>
                            <br>
                            <label th:for="s7_1_M_f">Qual?</label>
                            <input th:field="*{s7_1_M_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="submit" value="Submeter" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="layout/layout :: footer"></div>
<script>
    function mutuallyExclusive(groupName) {
        $('.' + groupName).click(function() {
            $('.' + groupName).prop("checked", false);
            $(this).prop("checked", true);
        });
    }

    $(document).ready(function() {
        let groups = [ "grupo-2",
            "grupo-5",
            "grupo-3",
            "grupo-4-1", "grupo-4-3-e",
            "grupo-4-2","grupo-4-2-1",
            "grupo-5-3", "grupo-5-4", "grupo-5-5","grupo-5-6","grupo-5-6-1",
            "grupo-6-1"]
        groups.forEach(mutuallyExclusive)
    });
</script>
</body>
</html>