<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout/layout :: head (pageTitle='Novo Processo')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header">Inserir Dados do Processo (página 2)</h1>

    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <form th:object="${formularioForm2}" method="post" th:action="@{/form/edit/{processId}/2(processId=${formularioForm2.processId})}" class="form-horizontal">

        <!--1-->
        <div class="form-group" th:classappend="${#fields.hasErrors('processId')} ? 'has-error' : ''">
            <label for="processId" class="col-sm-3 control-label">Processo nº:</label>
            <div class="col-sm-9">
                <input th:field="*{processId}" type="text" class="form-control" id="processId" maxlength="50" th:readonly="${formularioForm2.edit}" />
                <p class="help-block" th:if="${#fields.hasErrors('processId')}" th:errors="*{processId}">Error</p>
            </div>
        </div>

        <!-- 8 -->
        <div class="panel panel-default">
            <div class="panel-heading">8 - Defesa</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <!-- 8.1 -->
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s8_1}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">8.1 - Sem defesa
                            </label>
                            <br>
                        </div>
                        <!-- 8.2 -->
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s8_2}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">8.2 - Defesa por impugnação
                            </label>
                            <br>
                        </div>
                        <!-- 8.3 -->
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s8_3}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">8.3 - Defesa por exceção perentória
                            </label>
                            <br>
                        </div>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <div class="checkbox indent">
                                    <label>
                                        <input th:field="*{s8_3_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Causa que impede o efeito jurídico pretendido.
                                    </label>
                                    <br>
                                    <label th:for="s8_3_A_f">Qual?</label>
                                    <input th:field="*{s8_3_A_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_3_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Causa que modifica o efeito jurídico pretendido.
                                    </label>
                                    <br>
                                    <label th:for="s8_3_B_f">Qual?</label>
                                    <input th:field="*{s8_3_B_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_3_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Causa que extingue o efeito jurídico pretendido.
                                    </label>
                                    <br>
                                    <label th:for="s8_3_C_f">Qual?</label>
                                    <input th:field="*{s8_3_C_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- 8.4 -->
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s8_4}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">8.4 - Defesa por exceção dilatória /nulidade processual.
                            </label>
                            <br>
                        </div>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <div class="checkbox indent">
                                    <label>
                                        <input th:field="*{s8_4_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Incompetência absoluta do tribunal – competência internacional
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Incompetência absoluta do tribunal – pacto privativo de jurisdição permitido por convenção internacional
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Incompetência relativa do tribunal – competência territorial
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_D}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">D - Nulidade de todo o processo – Ineptidão da Petição Inicial
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_E}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">E - Nulidade de todo o processo – falta de citação ou nulidade da citação
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_F}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">F - Nulidade de todo o processo – outra nulidade
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_G}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">G - Pluralidade subjetiva subsidiária (fora dos casos do art. 39º do CPC)
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_H}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">H - Litispendência
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_I}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">I - Caso julgado
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s8_4_J}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">J - Outra
                                    </label>
                                    <br>
                                    <label th:for="s8_4_J_f">Qual?</label>
                                    <input th:field="*{s8_4_J_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- 8.5 -->
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s8_5}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">8.5 - Arguição da inconstitucionalidade da ARECT?
                            </label>
                            <br>
                        </div>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label for="s8_5_f">Descrição sucinta dos argumentos:</label>
                                <textarea id="s8_5_f" name="s8_5_f" cols="10" rows="10" class="form-control" maxlength="1000"></textarea>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 9-->
        <div class="panel panel-default">
            <div class="panel-heading">9 - Produção de provas empregador</div>
            <div class="panel-body">
                <label class="control-label">9.1 - Alegações do Empregador:</label>
                <div class="form-group">
                    <!-- 9.1.1 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s9_1_1}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">9.1.1 - Em torno da existência de outra modalidade contratual.
                            </label>
                            <br>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s9_1_1_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Prestação de serviços
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_1_1_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Outras
                                </label>
                                <br>
                                <label th:for="s9_1_1_B_f">Quais?</label>
                                <input th:field="*{s9_1_1_B_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 9.2 -->
                    <div class="col-sm-9">
                        <label class="control-label">9.2 - Meios de prova apresentados pelo Empregador</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s9_2_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Declaração de parte
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Apresentação de documentos por iniciativa própria
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Requerimento para que a parte contrária apresente documentos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_D}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">D - Requisição de documentos a organismos oficiais
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_E}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">E - Requisição de documentos às partes
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_F}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">F - Requisição de documentos a terceiros
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_G}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">G - Testemunhas (com algum vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_H}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">H - Testemunhas (sem vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_I}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">I - Prova pericial.
                                </label>
                                <br>
                                <label th:for="s9_2_I_f">Objeto da perícia:</label>
                                <input th:field="*{s9_2_I_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_J}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">J - Prova por inspeção judicial.
                                </label>
                                <br>
                                <label th:for="s9_2_J_f">Objeto da inspeção:</label>
                                <input th:field="*{s9_2_J_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_L}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">L - Verificação não judicial qualificada.
                                </label>
                                <br>
                                <label th:for="s9_2_L_f">Objeto da verificação:</label>
                                <input th:field="*{s9_2_L_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s9_2_M}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">M - Outra
                                </label>
                                <br>
                                <label th:for="s9_2_M_f">Qual?</label>
                                <input th:field="*{s9_2_M_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 10 -->
        <div class="panel panel-default">
            <div class="panel-heading">10 - Intervenção do trabalhador - doutrina da decisão</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                    <!-- 10.1 -->
                    <div class="checkbox">
                        <label>
                            <input th:field="*{s10_1}" type="checkbox" class="grupo-10"th:readonly="${formularioForm2.submetido}">10.1 - Não houve intervenção
                        </label>
                        <br>
                    </div>
                        <!-- 10.2 -->
                    <div class="checkbox">
                        <label>
                            <input th:field="*{s10_2}" type="checkbox" class="grupo-10"th:readonly="${formularioForm2.submetido}">10.2 - Assistente do Ministério Público  aderindo a PI
                        </label>
                        <br>
                    </div>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <div class="checkbox indent">
                                    <label>
                                        <input th:field="*{s10_2_A}" type="checkbox" class="grupo-10-2"th:readonly="${formularioForm2.submetido}">A - Assistente do beneficiário da prestação aderindo à Contestação
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s10_2_B}" type="checkbox" class="grupo-10-2"th:readonly="${formularioForm2.submetido}">B - Apresenta articulado próprio e alinha-se com o Ministério Público
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s10_2_C}" type="checkbox" class="grupo-10-2"th:readonly="${formularioForm2.submetido}">C - Apresenta articulado próprio e alinha-se com a parte Ré
                                    </label>
                                    <br>
                                </div>
                            </div>
                            <!-- 10.2.1 -->
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label th:for="s10_2_1">10.2.1 - Descrição sucinta das suas alegações:</label>
                                    <textarea th:field="*{s10_2_1}" cols="10" rows="10" class="form-control" maxlength="1000"></textarea>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- 10.3 -->
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s10_3}" type="checkbox" class="grupo-10"th:readonly="${formularioForm2.submetido}">10.3 - Intervenção principal
                            </label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 11 -->
        <div class="panel panel-default">
            <div class="panel-heading">11 - Produção de provas trabalhador</div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- 11.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">11.1 - Alegações do Trabalhador: </label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s11_1_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Em torno da existência do contrato de trabalho
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_1_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Em torno da existência de outra modalidade contratual.
                                </label>
                                <br>
                                <label th:for="s11_1_B_f">Qual?</label>
                                <input th:field="*{s11_1_B_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s11_1_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Outras
                                </label>
                                <br>
                                <label th:for="s11_1_C_f">Quais?</label>
                                <input th:field="*{s11_1_C_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 11.2 -->
                    <div class="col-sm-9">
                        <label class="control-label">11.2 - Meios de prova apresentados pelo Trabalhador:</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s11_2_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Depoimento de parte
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Apresentação de documentos por iniciativa própria
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Requerimento para que a parte contrária apresente documentos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_D}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">D - Requisição de documentos a organismos oficiais
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_E}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">E - Requisição de documentos às partes
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_F}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">F - Requisição de documentos a terceiros
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_G}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">G - Testemunhas (com algum vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_H}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">H - Testemunhas (sem vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_I}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">I - Prova pericial.
                                </label>
                                <br>
                                <label th:for="s11_2_I_f">Objeto da perícia:</label>
                                <input th:field="*{s11_2_I_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_J}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">J - Prova por inspeção judicial.
                                </label>
                                <br>
                                <label th:for="s11_2_J_f">Objeto da inspeção:</label>
                                <input th:field="*{s11_2_J_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_L}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">L - Verificação não judicial qualificada.
                                </label>
                                <br>
                                <label th:for="s11_2_L_f">Objeto da verificação:</label>
                                <input th:field="*{s11_2_L_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s11_2_M}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">Outra.
                                </label>
                                <br>
                                <label th:for="s11_2_M_f">Qual?</label>
                                <input th:field="*{s11_2_M_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 12 -->
        <div class="panel panel-default">
            <div class="panel-heading">12 - Intervenção de terceiros</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s12_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Alegação do Empregador de que outra pessoa é responsável
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s12_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Transmissão global do estabelecimento
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s12_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Por determinação judicial
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s12_D}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">D - Outra situação.
                                </label>
                                <br>
                                <label th:for="s12_D_f">Qual?</label>
                                <input th:field="*{s12_D_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 13 -->
        <div class="panel panel-default">
            <div class="panel-heading">13 - Produção de provas terceiro</div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- 13.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">13.1 - Alegações do Terceiro:</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s13_1_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Ilegitimidade
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_1_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Outra.
                                </label>
                                <br>
                                <label th:for="s13_1_B_f">Qual?</label>
                                <input th:field="*{s13_1_B_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 13.2 -->
                    <div class="col-sm-9">
                        <label class="control-label">13.2 - Meios de prova requeridos e utilizados pelo Terceiro</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s13_2_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Declaração de parte
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Depoimento de parte
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Apresentação de documentos por iniciativa própria / documentos coligidos pela ACT
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_D}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">D - Requerimento para que a parte contrária apresente documentos
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_E}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">E - Requisição de documentos a organismos oficiais
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_F}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">F - Requisição de documentos às partes
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_G}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">G - Requisição de documentos a terceiros
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_H}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">H - Testemunhas (com algum vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_I}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">I - Testemunhas (sem vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_J}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">J - Prova pericial.
                                </label>
                                <br>
                                <label th:for="s13_2_J_f">Objeto da perícia:</label>
                                <input th:field="*{s13_2_J_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_L}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">L - Prova por inspeção judicial.
                                </label>
                                <br>
                                <label th:for="s13_2_L_f">Objeto da inspeção:</label>
                                <input th:field="*{s13_2_L_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_M}" type="checkbox" class="">M - Verificação não judicial qualificada.
                                </label>
                                <br>
                                <label th:for="s13_2_M_f">Objeto da verificação:</label>
                                <input th:field="*{s13_2_M_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_N}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">N - Outra.
                                </label>
                                <br>
                                <label th:for="s13_2_N_f">Qual?</label>
                                <input th:field="*{s13_2_N_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s13_2_O}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">O - Poder inquisitório em matéria alegatória / poder instrutório para a prova dos factos pelo tribunal
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 14 -->
        <div class="panel panel-default">
            <div class="panel-heading">14 - Produção de provas determinadas pelo tribunal</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s14_A}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">A - Esclarecimentos / Depoimento de parte
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s14_B}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">B - Apresentação de documentos por iniciativa própria / documentos coligidos pela ACT
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s14_C}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">C - Requisição de documentos a organismos oficiais
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s14_D}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">D - Requisição de documentos às partes
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s14_E}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">E - Requisição de documentos a terceiros
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s14_F}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">F - Testemunhas (com algum vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s14_G}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">G - Testemunhas (sem vínculo à Ré)
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s14_H}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">H - Prova pericial.
                                </label>
                                <br>
                                <label th:for="s14_H_f">Objeto da perícia:</label>
                                <input th:field="*{s14_H_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s14_I}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">I - Prova por inspeção judicial.
                                </label>
                                <br>
                                <label th:for="s14_I_f">Objeto da inspeção:</label>
                                <input th:field="*{s14_I_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s14_J}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">J - Verificação não judicial qualificada.
                                </label>
                                <br>
                                <label th:for="s14_J_f">Objeto da verificação:</label>
                                <input th:field="*{s14_J_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                                <label>
                                    <input th:field="*{s14_L}" type="checkbox" class=""th:readonly="${formularioForm2.submetido}">L - Outra.
                                </label>
                                <br>
                                <label th:for="s14_L_f">Qual?</label>
                                <input th:field="*{s14_L_f}" type="text" class="form-control" maxlength="100"th:readonly="${formularioForm2.submetido}"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- botões -->
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <input type="submit" name="operation" value="Gravar" class="btn btn-primary"/>
                    <input type="submit" name="operation" value="Avançar >>" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
    <br/>
</div>

<div th:replace="layout/layout :: footer"></div>
<script>
    function mutuallyExclusive(groupName) {
        $('.' + groupName).click(function() {
            $('.' + groupName).prop("checked", false);
            $(this).prop("checked", true);
        });
    }

    $(document).ready(function() {
        let groups = [
            "grupo-10", "grupo-10-2"
        ]
        groups.forEach(mutuallyExclusive)
    });
</script>
</body>
</html>