<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Novo Processo')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header">Inserir Dados do Processo</h1>
    <form th:object="${formularioForm3}" method="post" th:action="@{/form/3}" class="form-horizontal">

        <!-- 15 -->
        <div class="panel panel-default">
            <div class="panel-heading">15-Produção de provas (outras vicissitudes)</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <input th:field="*{s15}" type="text" class="form-control" maxlength="100"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 16 -->
        <div class="panel panel-default">
            <div class="panel-heading">16 - Dever de gestão processual</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <!-- 16.1 -->
                        <div class="checkbox">
                            <label class="control-label">16.1 - Foi adotado algum mecanismo de simplificação e agilização do processo?</label>
                            <div class="checkbox indent">
                                <input th:field="*{s16_1_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s16_1_A')}">A - Não</label>
                                <br>
                                <input th:field="*{s16_1_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s16_1_B')}">B - Sim</label>
                                <br>
                                <label th:for="s16_1_B_f">Qual?</label>
                                <input th:field="*{s16_1_B_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 17 -->
        <div class="panel panel-default">
            <div class="panel-heading">17 - Vicissitudes processuais</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <div class="checkbox indent">
                            <div class="col-sm-9">
                                <input th:field="*{s17_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_A')}">A - Conciliação com a participação do trabalhador</label>
                                <br>
                                <input th:field="*{s17_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_B')}">B - Conciliação sem a participação do trabalhador</label>
                                <br>
                                <input th:field="*{s17_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_C')}">C - Desistência da instância com a participação do trabalhador</label>
                                <br>
                                <input th:field="*{s17_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_D')}">D - Desistência da instância sem a participação do trabalhador</label>
                                <br>
                                <input th:field="*{s17_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_E')}">E - Outras vicissitudes.</label>
                                <br>
                                <label th:for="s17_E_f">Quais?</label>
                                <input th:field="*{s17_E_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                                <input th:field="*{s17_F}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_F')}">F - Sem vicissitudes dignas de nota.</label>
                                <br>
                            </div>
                        </div>
                        <!-- 17.1 -->
                        <div class="col-sm-9">
                            <label class="control-label">17.1 - Houve discussão sobre a tutela do interesse público?</label>
                            <div class="checkbox indent">
                                <input th:field="*{s17_1_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_1_A')}">A - Não</label>
                                <br>
                                <input th:field="*{s17_1_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s17_1_B')}">B - Sim</label>
                                <br>
                                <label th:for="s17_1_B_f">Se sim, quais os principais argumentos?</label>
                                <input th:field="*{s17_1_B_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                        <!-- 17.2 -->
                        <div class="col-sm-9">
                            <input th:field="*{s17_2}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s17_2')}">17.2 - Reconhecimento de litispendência ou caso julgado - Ação proposta por iniciativa do trabalhador sob a forma do processo declarativo comum.</label>
                            <br>
                            <label th:for="s17_2_f">Descrição da situação:</label>
                            <input th:field="*{s17_2_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                        <!-- 17.3 -->
                        <div class="col-sm-9">
                            <input th:field="*{s17_3}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s17_3')}">17.3 - Reconhecimento da inexistência de listispendência em sentido técnico - Suspensão da  instância para evitar decisões contraditórias.</label>
                            <br>
                            <label th:for="s17_3_f">Descrição da situação:</label>
                            <input th:field="*{s17_3_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                        <!-- 17.4 -->
                        <div class="col-sm-9">
                            <input th:field="*{s17_4}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s17_4')}">17.4 - Procedimento cautelar intentado pelo MP de suspensão do despedimento</label>
                            <br>
                            <!-- 17.4.1 -->
                            <div class="col-sm-9">
                                <div class="checkbox indent">
                                    <label class="control-label">17.4.1 - Tutela cautelar concedida? </label>
                                    <input th:field="*{s17_4_1_A}" type="checkbox" class="">
                                    <label th:for="${#ids.prev('s17_4_1_A')}">A - Não</label>
                                    <br>
                                    <input th:field="*{s17_4_1_B}" type="checkbox" class="">
                                    <label th:for="${#ids.prev('s17_4_1_B')}">B - Sim</label>
                                    <br>
                                </div>
                            </div>
                            <!-- 17.4.2 -->
                            <div class="col-sm-9">
                                <div class="checkbox indent">
                                    <label class="control-label">17.4.2- Audição prévia do trabalhador</label>
                                    <input th:field="*{s17_4_2_A}" type="checkbox" class="">
                                    <label th:for="${#ids.prev('s17_4_2_A')}">A - Não</label>
                                    <br>
                                    <input th:field="*{s17_4_2_B}" type="checkbox" class="">
                                    <label th:for="${#ids.prev('s17_4_2_B')}">B - Sim.</label>
                                    <br>
                                    <label th:for="s17_4_2_B_f">Se sim, em que termos?</label>
                                    <input th:field="*{s17_4_2_B_f}" type="text" class="form-control" maxlength="100"/>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- 17.5 -->
                        <div class="col-sm-9">
                            <input th:field="*{s17_5}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s17_5')}">17.5 - Procedimento cautelar de suspensão do despedimento – notícia no processo de que a suspensão foi pedida autonomamente pelo trabalhador</label>
                            <br>
                        </div>
                        <!-- 17.6 -->
                        <div class="col-sm-9">
                            <input th:field="*{s17_6}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s17_6')}">17.6 - Inversão do contencioso.</label>
                            <br>
                            <label th:for="s17_6_f">Descrição da situação:</label>
                            <input th:field="*{s17_6_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 18 -->
        <div class="panel panel-default">
            <div class="panel-heading">18 -	Resultado da ação (em primeira instância):</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <!-- 18.1 -->
                        <div class="col-sm-9">
                            <input th:field="*{s18_1}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s18_1')}">18.1 - Extinção da instância </label>
                            <br>
                            <div class="checkbox indent">
                                <input th:field="*{s18_1_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_1_A')}">A - Julgamento</label>
                                <br>
                                <input th:field="*{s18_1_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_1_B')}">B - Transação</label>
                                <br>
                                <input th:field="*{s18_1_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_1_C')}">C - Impossibilidade superveniente da lide</label>
                                <br>
                                <input th:field="*{s18_1_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_1_D')}">D - Inutilidade superveniente da lide</label>
                                <br>
                                <input th:field="*{s18_1_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_1_E')}">E - Outra.</label>
                                <br>
                                <label th:for="s18_1_E_f">Qual?</label>
                                <input th:field="*{s18_1_E_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                        <!-- 18.2 -->
                        <div class="col-sm-9">
                            <input th:field="*{s18_2}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s18_2')}">18.2 - Absolvição do Empregador da instância </label>
                            <br>
                            <div class="checkbox indent">
                                <input th:field="*{s18_2_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_2_A')}">A - Incompetência absoluta do tribunal – competência internacional</label>
                                <br>
                                <input th:field="*{s18_2_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_2_B')}">B - Incompetência relativa do tribunal – divisão judicial do território</label>
                                <br>
                                <input th:field="*{s18_2_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_2_C')}">C - Nulidade de todo o processo</label>
                                <br>
                                <input th:field="*{s18_2_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_2_D')}">D - Pluralidade subjetiva subsidiária – fora dos casos do art. 39º do CPC</label>
                                <br>
                                <input th:field="*{s18_2_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_2_E')}">E - Litispendência</label>
                                <br>
                                <input th:field="*{s18_2_F}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_2_F')}">F - Caso julgado</label>
                                <br>
                                <input th:field="*{s18_2_G}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_2_G')}">G - Outra.</label>
                                <br>
                                <label th:for="s18_2_G_f">Qual?</label>
                                <input th:field="*{s18_2_G_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                        <!-- 18.3 -->
                        <div class="col-sm-9">
                            <label class="control-label">18.3 - </label>
                            <div class="checkbox indent">
                                <input th:field="*{s18_3_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_3_A')}">A - Procedência total</label>
                                <br>
                                <input th:field="*{s18_3_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_3_B')}">B - Procedência parcial.</label>
                                <br>
                                <label th:for="s18_3_B_f">Decaimento:</label>
                                <input th:field="*{s18_3_B_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                        <!-- 18.4 -->
                        <div class="col-sm-9">
                            <input th:field="*{s18_4}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s18_4')}">18.4 - Improcedência </label>
                            <br>
                            <div class="checkbox indent">
                                <input th:field="*{s18_4_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_4_A')}">A - Défice alegatório</label>
                                <br>
                                <input th:field="*{s18_4_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_4_B')}">B - Défice probatório</label>
                                <br>
                                <input th:field="*{s18_4_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_4_C')}">C - Causa que impede o efeito jurídico pretendido.</label>
                                <br>
                                <label th:for="s18_4_C_f">Qual?</label>
                                <input th:field="*{s18_4_C_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                                <input th:field="*{s18_4_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_4_D')}">D - Causa que modifica o efeito jurídico pretendido.</label>
                                <br>
                                <label th:for="s18_4_D_f">Qual?</label>
                                <input th:field="*{s18_4_D_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                                <input th:field="*{s18_4_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_4_E')}">E - Causa que extingue o efeito jurídico pretendido.</label>
                                <br>
                                <label th:for="s18_4_E_f">Qual?</label>
                                <input th:field="*{s18_4_E_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                                <input th:field="*{s18_4_F}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s18_4_F')}">F - Outra.</label>
                                <br>
                                <label th:for="s18_4_F_f">Qual?</label>
                                <input th:field="*{s18_4_F_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                            <!-- 18.4.1 -->
                            <div class="col-sm-9">
                                <label th:for="s18_4_1">18.4.1 - Fundamentos (que sejam dignos de nota):</label>
                                <input th:field="*{s18_4_1}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 19 -->
        <div class="panel panel-default">
            <div class="panel-heading">19 - Em caso de procedência da ação, ainda que parcial - Aspetos da relação jurídica material</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <!-- 19.1 -->
                        <div class="col-sm-9">
                            <label class="control-label">19.1 - Situação de fraude:</label>
                            <div class="checkbox indent">
                                <input th:field="*{s19_1_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s19_1_A')}">A - falsos recibos verdes</label>
                                <br>
                                <input th:field="*{s19_1_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s19_1_B')}">B - falsos  estagiários</label>
                                <br>
                                <input th:field="*{s19_1_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s19_1_C')}">C - falsos bolseiros</label>
                                <br>
                                <input th:field="*{s19_1_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s19_1_D')}">D - falsos voluntários</label>
                                <br>
                                <input th:field="*{s19_1_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s19_1_E')}">E - trabalho com o auxílio de plataformas digitais</label>
                                <br>
                                <input th:field="*{s19_1_F}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s19_1_F')}">F - outro tipo de trabalho à distância.</label>
                                <br>
                                <label th:for="s19_1_F_f">Outro:</label>
                                <input th:field="*{s19_1_F_f}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                        <!-- 19.2 -->
                        <div class="col-sm-9">
                            <label th:for="s19_2">19.2 - Atividade contratada:</label>
                            <input th:field="*{s19_2}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                        <!-- 19.3 -->
                        <div class="col-sm-9">
                            <label class="control-label">19.3 - Modus operandi:</label>
                            <!-- 19.3.1 -->
                            <div class="col-sm-9">
                                <label th:for="s19_3_1">19.3.1 - Recursos utilizados para mascarar a relação de trabalho (factos dados como provados):</label>
                                <input th:field="*{s19_3_1}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                            <!-- 19.3.2 -->
                            <div class="col-sm-9">
                                <label th:for="s19_3_2">19.3.2 - Data do início do vínculo (facto dado como provado):</label>
                                <input th:field="*{s19_3_2}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 20 -->
        <div class="panel panel-default">
            <div class="panel-heading">20 -	Determinação da subordinação jurídica: valorização dos factos dados como provados</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <!-- 20.1 -->
                        <div class="col-sm-9">
                            <label th:for="s20_1">20.1 - Descrição:</label>
                            <input th:field="*{s20_1}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 21 -->
        <div class="panel panel-default">
            <div class="panel-heading">21 - Recurso</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="checkbox">
                        <!-- 21.1 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.1 - Houve recurso para o Tribunal da Relação?</label>
                            <div class="checkbox indent">
                                <input th:field="*{s21_1_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_1_A')}">A - Não</label>
                                <br>
                                <input th:field="*{s21_1_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_1_B')}">B - pelo Ministério Público</label>
                                <br>
                                <input th:field="*{s21_1_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_1_C')}">C - pelo trabalhador</label>
                                <br>
                                <input th:field="*{s21_1_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_1_D')}">D - pelo empregador</label>
                                <br>
                                <input th:field="*{s21_1_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_1_E')}">E - por um terceiro interveniente.</label>
                                <br>
                            </div>
                            <!-- 21.1.1 -->
                            <div class="col-sm-9">
                                <label th:for="s21_1_1">21.1.1 - Síntese dos principais fundamentos: </label>
                                <input th:field="*{s21_1_1}" type="text" class="form-control" maxlength="100"/>
                                <br>
                            </div>
                            <!-- 21.1.2 -->
                            <div class="col-sm-9">
                                <label class="control-label">21.1.2 - Reforma da sentença?</label>
                                <div class="checkbox indent">
                                    <input th:field="*{s21_1_2_A}" type="checkbox" class="">
                                    <label th:for="${#ids.prev('s21_1_2_A')}">A - Não</label>
                                    <br>
                                    <input th:field="*{s21_1_2_B}" type="checkbox" class="">
                                    <label th:for="${#ids.prev('s21_1_2_B')}">B - Sim. </label>
                                    <br>
                                    <label th:for="s21_1_2_B_f">Síntese das razões:</label>
                                    <input th:field="*{s21_1_2_B_f}" type="text" class="form-control" maxlength="100"/>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- 21.2 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.2 - Houve recurso para o Supremo Tribunal de Justiça?</label>
                            <div class="checkbox indent">
                                <input th:field="*{s21_2_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_2_A')}">A - Não</label>
                                <br>
                                <input th:field="*{s21_2_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_2_B')}">B - pelo Ministério Público</label>
                                <br>
                                <input th:field="*{s21_2_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_2_C')}">C - pelo trabalhador</label>
                                <br>
                                <input th:field="*{s21_2_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_2_D')}">D - pelo empregador</label>
                                <br>
                                <input th:field="*{s21_2_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_2_E')}">E - por um terceiro interveniente.</label>
                                <br>
                            </div>
                        <!-- 21.2.1 -->
                        <div class="col-sm-9">
                            <label th:for="s21_2_1">21.2.1 - Síntese dos principais fundamentos:</label>
                            <input th:field="*{s21_2_1}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                        <!-- 21.2.2 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.2.2 - Reforma da decisão a quo?</label>
                            <input th:field="*{s21_2_2_A}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s21_2_2_A')}">A - Não</label>
                            <br>
                            <input th:field="*{s21_2_2_B}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s21_2_2_B')}">B - Sim. </label>
                            <br>
                            <label th:for="s21_2_2_B_f">Síntese das razões:</label>
                            <input th:field="*{s21_2_2_B_f}" type="text" class="form-control" maxlength="100"/>
                            <br>
                        </div>
                    </div>
                        <!-- 21.3 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.3 - Houve recurso para o Tribunal Constitucional?</label>
                            <div class="checkbox indent">
                                <input th:field="*{s21_3_A}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_3_A')}">A - Não</label>
                                <br>
                                <input th:field="*{s21_3_B}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_3_B')}">B - pelo Ministério Público</label>
                                <br>
                                <input th:field="*{s21_3_C}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_3_C')}">C - pelo trabalhador</label>
                                <br>
                                <input th:field="*{s21_3_D}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_3_D')}">D - pelo empregador</label>
                                <br>
                                <input th:field="*{s21_3_E}" type="checkbox" class="">
                                <label th:for="${#ids.prev('s21_3_E')}">E - por um terceiro interveniente.</label>
                                <br>
                                <!-- 21.3.1 -->
                                <div class="col-sm-9">
                                    <label th:for="s21_3_1">21.3.1- Síntese dos principais fundamentos:</label>
                                    <input th:field="*{s21_3_1}" type="text" class="form-control" maxlength="100"/>
                                    <br>
                                </div>
                                <!-- 21.3.2 -->
                                <div class="col-sm-9">
                                    <label class="control-label">21.3.2- Reforma da decisão a quo?</label>
                                    <div class="checkbox indent">
                                        <input th:field="*{s21_3_2_A}" type="checkbox" class="">
                                        <label th:for="${#ids.prev('s21_3_2_A')}">A - Não</label>
                                        <br>
                                        <input th:field="*{s21_3_2_B}" type="checkbox" class="">
                                        <label th:for="${#ids.prev('s21_3_2_B')}">B - Sim. </label>
                                        <br>
                                        <label th:for="s21_3_2_B_f">Síntese das razões:</label>
                                        <input th:field="*{s21_3_2_B_f}" type="text" class="form-control" maxlength="100"/>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        <!-- 21.4 -->
                        <div class="col-sm-9">
                        <label class="control-label">21.4 - Decisão com trânsito em julgado:</label>
                        <input th:field="*{s21_4_A}" type="checkbox" class="">
                        <label th:for="${#ids.prev('s21_4_A')}">A - procedente</label>
                        <br>
                        <input th:field="*{s21_4_B}" type="checkbox" class="">
                        <label th:for="${#ids.prev('s21_4_B')}">B - improcedente</label>
                        <br>
                        <!-- 21.3.1 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.4.1 - Decisão com trânsito em julgado: no mesmo sentido da decisão de primeira instância?</label>
                            <input th:field="*{s21_4_1_A}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s21_4_1_A')}">A - sim</label>
                            <br>
                            <input th:field="*{s21_4_1_B}" type="checkbox" class="">
                            <label th:for="${#ids.prev('s21_4_1_B')}">B - não</label>
                            <br>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div th:replace="layout/layout :: footer"></div>
<script>
    function mutuallyExclusive(groupName) {
        $('.' + groupName).click(function() {
            $('.' + groupName).prop("checked", false);
            $(this).prop("checked", true);
        });
    }

    $(document).ready(function() {
        let groups = [  ]
        groups.forEach(mutuallyExclusive)
    });
</script>
</body>
</html>