<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Novo Processo')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header">Inserir Dados do Processo (página 3)</h1>

    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <form th:object="${formularioForm3}" method="post" th:action="@{/form/edit/{processId}/3(processId=${formularioForm3.processId})}" class="form-horizontal">

        <!-- 1 -->
        <div class="form-group" th:classappend="${#fields.hasErrors('processId')} ? 'has-error' : ''">
            <label for="processId" class="col-sm-3 control-label">Processo nº:</label>
            <div class="col-sm-9">
                <input th:field="*{processId}" type="text" class="form-control" id="processId" maxlength="50" th:readonly="${formularioForm3.edit}" />
                <p class="help-block" th:if="${#fields.hasErrors('processId')}" th:errors="*{processId}">Error</p>
            </div>
        </div>

        <!-- 15 -->
        <div class="panel panel-default">
            <div class="panel-heading">15 - Produção de provas (outras vicissitudes)</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <textarea th:field="*{s15}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- 16 -->
        <div class="panel panel-default">
            <div class="panel-heading">16 - Dever de gestão processual</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <!-- 16.1 -->
                        <label class="control-label">16.1 - Foi adotado algum mecanismo de simplificação e agilização do processo?</label>
                        <div class="checkbox">
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s16_1_A}" type="checkbox" class="grupo-16" th:disabled="${formularioForm3.submetido}">A - Não
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s16_1_B}" type="checkbox" class="grupo-16" th:disabled="${formularioForm3.submetido}">B - Sim
                                </label>
                                <br>
                                <label th:for="s16_1_B_f">Qual?</label>
                                <input th:field="*{s16_1_B_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                                <p class="help-block" th:if="${#fields.hasErrors('s16_1_B_f')}" th:errors="*{s16_1_B_f}">Error</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 17 -->
        <div class="panel panel-default">
            <div class="panel-heading">17 - Vicissitudes processuais</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s17_A}" type="checkbox" class="grupo-17" th:disabled="${formularioForm3.submetido}">A - Conciliação com a participação do trabalhador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s17_B}" type="checkbox" class="grupo-17" th:disabled="${formularioForm3.submetido}">B - Conciliação sem a participação do trabalhador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s17_C}" type="checkbox" class="grupo-17" th:disabled="${formularioForm3.submetido}">C - Desistência da instância com a participação do trabalhador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s17_D}" type="checkbox" class="grupo-17" th:disabled="${formularioForm3.submetido}">D - Desistência da instância sem a participação do trabalhador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s17_E}" type="checkbox" class="grupo-17" th:disabled="${formularioForm3.submetido}">E - Outras vicissitudes.
                            </label>
                            <br>
                            <label th:for="s17_E_f">Quais?</label>
                            <input th:field="*{s17_E_f}" type="text" class="form-control" maxlength="100" th:disabled="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s17_E_f')}" th:errors="*{s17_E_f}">Error</p>
                            <br>
                            <label>
                                <input th:field="*{s17_F}" type="checkbox" class="grupo-17" th:disabled="${formularioForm3.submetido}">F - Sem vicissitudes dignas de nota.
                            </label>
                            <br>
                        </div>
                    </div>
                    <!-- 17.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">17.1 - Houve discussão sobre a tutela do interesse público?</label>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s17_1_A}" type="checkbox" class="grupo17-1" th:disabled="${formularioForm3.submetido}">A - Não
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s17_1_B}" type="checkbox" class="grupo17-1" th:disabled="${formularioForm3.submetido}">B - Sim
                            </label>
                            <br>
                            <label th:for="s17_1_B_f">17.1.1 - Se sim, quais os principais argumentos?</label>
                            <textarea th:field="*{s17_1_B_f}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                            <p class="help-block" th:if="${#fields.hasErrors('s17_1_B_f')}" th:errors="*{s17_1_B_f}">Error</p>
                            <br>
                        </div>
                    </div>
                    <!-- 17.2 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s17_2}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">17.2 - Reconhecimento de litispendência ou caso julgado - Ação proposta por iniciativa do trabalhador sob a forma do processo declarativo comum.
                            </label>
                            <br>
                            <label th:for="s17_2_f">Descrição da situação:</label>
                            <textarea th:field="*{s17_2_f}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                            <p class="help-block" th:if="${#fields.hasErrors('s17_2_f')}" th:errors="*{s17_2_f}">Error</p>
                            <br>
                        </div>
                    </div>
                    <!-- 17.3 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s17_3}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">17.3 - Reconhecimento da inexistência de listispendência em sentido técnico - Suspensão da  instância para evitar decisões contraditórias.
                            </label>
                            <br>
                            <label th:for="s17_3_f">Descrição da situação:</label>
                            <textarea th:field="*{s17_3_f}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                            <p class="help-block" th:if="${#fields.hasErrors('s17_3_f')}" th:errors="*{s17_3_f}">Error</p>
                            <br>
                        </div>
                    </div>
                    <!-- 17.4 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s17_4}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">17.4 - Procedimento cautelar intentado pelo MP de suspensão do despedimento
                            </label>
                            <br>
                        </div>
                        <!-- 17.4.1 -->
                        <div class="col-sm-9">
                            <label class="control-label">17.4.1 - Tutela cautelar concedida? </label>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s17_4_1_A}" type="checkbox" class="grupo-17-4-1" th:disabled="${formularioForm3.submetido}">A - Não
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s17_4_1_B}" type="checkbox" class="grupo-17-4-1" th:disabled="${formularioForm3.submetido}">B - Sim
                                </label>
                                <br>
                            </div>
                        </div>
                        <!-- 17.4.2 -->
                        <div class="col-sm-9">
                            <label class="control-label">17.4.2- Audição prévia do trabalhador</label>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s17_4_2_A}" type="checkbox" class="grupo-17-4-2" th:disabled="${formularioForm3.submetido}">A - Não
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s17_4_2_B}" type="checkbox" class="grupo-17-4-2" th:disabled="${formularioForm3.submetido}">B - Sim.
                                </label>
                                <br>
                                <label th:for="s17_4_2_B_f">Se sim, em que termos?</label>
                                <input th:field="*{s17_4_2_B_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                                <p class="help-block" th:if="${#fields.hasErrors('s17_4_2_B_f')}" th:errors="*{s17_4_2_B_f}">Error</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 17.5 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s17_5}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">17.5 - Procedimento cautelar de suspensão do despedimento – notícia no processo de que a suspensão foi pedida autonomamente pelo trabalhador
                            </label>
                            <br>
                        </div>
                    </div>
                    <!-- 17.6 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s17_6}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">17.6 - Inversão do contencioso.
                            </label>
                            <br>
                            <label th:for="s17_6_f">Descrição da situação:</label>
                            <input th:field="*{s17_6_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s17_6_f')}" th:errors="*{s17_6_f}">Error</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 18 -->
        <div class="panel panel-default">
            <div class="panel-heading">18 -	Resultado da ação (em primeira instância):</div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- 18.1 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s18_1}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">18.1 - Extinção da instância
                            </label>
                            <br>
                        </div>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s18_1_A}" type="checkbox" class="grupo-18-1" th:disabled="${formularioForm3.submetido}">A - Julgamento
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_1_B}" type="checkbox" class="grupo-18-1" th:disabled="${formularioForm3.submetido}">B - Transação
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_1_C}" type="checkbox" class="grupo-18-1" th:disabled="${formularioForm3.submetido}">C - Impossibilidade superveniente da lide
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_1_D}" type="checkbox" class="grupo-18-1" th:disabled="${formularioForm3.submetido}">D - Inutilidade superveniente da lide
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_1_E}" type="checkbox" class="grupo-18-1" th:disabled="${formularioForm3.submetido}">E - Outra.
                            </label>
                            <br>
                            <label th:for="s18_1_E_f">Qual?</label>
                            <input th:field="*{s18_1_E_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s18_1_E_f')}" th:errors="*{s18_1_E_f}">Error</p>
                            <br>
                        </div>
                    </div>
                    <!-- 18.2 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s18_2}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">18.2 - Absolvição do Empregador da instância
                                </label>
                            <br>
                        </div>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s18_2_A}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">A - Incompetência absoluta do tribunal – competência internacional
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_2_B}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">B - Incompetência relativa do tribunal – divisão judicial do território
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_2_C}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">C - Nulidade de todo o processo
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_2_D}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">D - Pluralidade subjetiva subsidiária – fora dos casos do art. 39º do CPC
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_2_E}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">E - Litispendência
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_2_F}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">F - Caso julgado
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_2_G}" type="checkbox" class="grupo-18-2" th:disabled="${formularioForm3.submetido}">G - Outra.
                            </label>
                            <br>
                            <label th:for="s18_2_G_f">Qual?</label>
                            <input th:field="*{s18_2_G_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s18_2_G_f')}" th:errors="*{s18_2_G_f}">Error</p>
                            <br>
                        </div>
                    </div>
                    <!-- 18.3 -->
                    <div class="col-sm-9">
                        <label class="control-label">18.3 - </label>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s18_3_A}" type="checkbox" class="grupo-18-3" th:disabled="${formularioForm3.submetido}">A - Procedência total
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_3_B}" type="checkbox" class="grupo-18-3" th:disabled="${formularioForm3.submetido}">B - Procedência parcial.
                            </label>
                            <br>
                            <label th:for="s18_3_B_f">Decaimento:</label>
                            <input th:field="*{s18_3_B_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s18_3_B_f')}" th:errors="*{s18_3_B_f}">Error</p>
                            <br>
                        </div>
                    </div>
                    <!-- 18.4 -->
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s18_4}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">18.4 - Improcedência
                            </label>
                            <br>
                        </div>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s18_4_A}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">A - Défice alegatório
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_4_B}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">B - Défice probatório
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s18_4_C}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">C - Causa que impede o efeito jurídico pretendido.
                            </label>
                            <br>
                            <label th:for="s18_4_C_f">Qual?</label>
                            <input th:field="*{s18_4_C_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s18_3_B_f')}" th:errors="*{s18_3_B_f}">Error</p>
                            <br>
                            <label>
                                <input th:field="*{s18_4_D}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">D - Causa que modifica o efeito jurídico pretendido.
                            </label>
                            <br>
                            <label th:for="s18_4_D_f">Qual?</label>
                            <input th:field="*{s18_4_D_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s18_4_D_f')}" th:errors="*{s18_4_D_f}">Error</p>
                            <br>
                            <label>
                                <input th:field="*{s18_4_E}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">E - Causa que extingue o efeito jurídico pretendido.
                            </label>
                            <br>
                            <label th:for="s18_4_E_f">Qual?</label>
                            <input th:field="*{s18_4_E_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s18_4_E_f')}" th:errors="*{s18_4_E_f}">Error</p>
                            <br>
                            <label>
                                <input th:field="*{s18_4_F}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">F - Outra.
                            </label>
                            <br>
                            <label th:for="s18_4_F_f">Qual?</label>
                            <input th:field="*{s18_4_F_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s18_4_F_f')}" th:errors="*{s18_4_F_f}">Error</p>
                            <br>
                        </div>
                        <!-- 18.4.1 -->
                        <div class="col-sm-9">
                            <label th:for="s18_4_1">18.4.1 - Fundamentos (que sejam dignos de nota):</label>
                            <textarea th:field="*{s18_4_1}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 19 -->
        <div class="panel panel-default">
        <div class="panel-heading">19 - Em caso de prolação de decisão de mérito- valorização dos factos dados como provados</div>
        <div class="panel-body">
            <div class="form-group">
                <!-- 19.1 -->
                <div class="col-sm-9">
                    <label>
                        <input th:field="*{s19_1}" type="checkbox" class="grupo-19" th:disabled="${formularioForm3.submetido}">19.1 - A sentença reconheceu a existência de relação jurídica subordinada, valorizando os seguintes índices.
                    </label>
                    <div class="checkbox indent">
                        <label>
                            <input th:field="*{s19_1_1}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.1 - A atividade é realizada em local pertencente ao seu beneficiário ou por ele determinado
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_2}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.2 - Os equipamentos e instrumentos de trabalho utilizados pertencem ao beneficiário da atividade
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_3}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.3 - O prestador da atividade observa horas de início e de termo da prestação, determinadas pelo beneficiário da mesma
                            <br>
                        </label>
                        <label>
                            <input th:field="*{s19_1_4}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.4 - É paga, com determinada periodicidade, uma quantia certa ao prestador de atividade, como contrapartida da mesma
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_5}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.5 - O prestador de atividade desempenha funções de direção ou chefia na estrutura orgânica da empresa
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_6}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.6 - O prestador da atividade recebe subsídio de férias e/ou de Natal
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_7}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.7 - O beneficiário da atividade fixa o período de férias
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_8}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.8 - O prestador da atividade está integrado na organização produtiva
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_9}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.9 - O prestador da atividade submete-se à sanção disciplinar
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_10}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.10 - O serviço realizado é objeto de fiscalização ou retificação pelo beneficiário ou por alguém por este indicado
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_11}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.12 - O prestador da atividade é sindicalizado
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_12}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.12 - O prestador da atividade observa  o regime fiscal e da segurança social próprios do trabalho por conta de outrem
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_13}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.13 - O trabalho é realizado com exclusividade
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_14}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.14 - O trabalho é realizado com exclusividade
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_15}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.15 - O trabalho, não sendo prestado com exclusividade, deixa o trabalhador numa situação de dependência económica
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_16}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.16 - O beneficiário da atividade exigiu que o prestador realizasse a sua atividade através da constituição de uma pessoa coletiva
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_1_17}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.1.17 - Outros</label>
                        <br>
                        <label th:for="s19_1_17_f">Quais?</label>
                        <input th:field="*{s19_1_17_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                        <p class="help-block" th:if="${#fields.hasErrors('s19_1_17_f')}" th:errors="*{s19_1_17_f}">Error</p>
                        <br>
                    </div>
                </div>
                <!-- 19.2 -->
                <div class="col-sm-9">
                    <label>
                        <input th:field="*{s19_2}" type="checkbox" class="grupo-19" th:disabled="${formularioForm3.submetido}">19.2 - A sentença não reconheceu a existência de relação jurídica subordinada, valorizando os seguintes índices
                    </label>
                    <div class="checkbox indent">
                        <label>
                            <input th:field="*{s19_2_1}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.1 - A atividade é realizada em local determinado pelo próprio prestador da atividade
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_2}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.2 - Os equipamentos e instrumentos de trabalho utilizados pertencem ao prestador da atividade
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_3}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.3 - O prestador da atividade fixa as horas de início e de termo da sua prestação
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_4}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.4 - A retribuição é variável
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_5}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.5 - O prestador da atividade decide quando deve afastar-se para o gozo de férias
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_6}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.6 - O prestador da atividade não recebe subsídio de férias e/ou de Natal
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_7}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.7 - O prestador da atividade observa  o regime fiscal e da segurança social próprios do trabalho por conta própria
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_8}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.8 - O prestador da atividade emite recibos verdes
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_9}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.9 - O prestador da atividade, não tendo atividade aberta nas Finanças, emitiu recibo ou fatura por um serviço ou venda feito de forma pontual ou esporádica (ato isolado)
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_10}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.10 - O prestador da atividade subscreveu um seguro de acidentes de trabalho como trabalhador independente
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_11}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.11 - O trabalho é realizado sem exclusividade
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_12}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.12 - O prestador da atividade assume os riscos próprios da sua atividade, tendo independência económica
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_13}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.13 - O trabalho é realizado com autonomia técnica
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_14}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.14 - O prestador da atividade tem, ao seu cargo, outros trabalhadores
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_15}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.15 - O prestador da atividade nunca reclamou perante o beneficiário créditos de natureza laboral
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_16}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.16 - O prestador da atividade podia substituir-se por outro
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_17}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.17 - Objeto do contrato: obrigação de resultado
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_18}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.18 - Objeto do contrato: obrigação de meios, prestação de uma atividade
                        </label>
                        <br>
                        <label>
                            <input th:field="*{s19_2_19}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.19 - A vontade contratual – o nomen iuris – é relevante
                        </label>
                        <br>
                        <label th:for="s19_2_19_f">Qual o tipo contratual escolhido?</label>
                        <textarea th:field="*{s19_2_19_f}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                        <p class="help-block" th:if="${#fields.hasErrors('s19_2_19_f')}" th:errors="*{s19_2_19_f}">Error</p>
                        <br>
                        <label>
                            <input th:field="*{s19_2_20}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">19.2.20 - Outros</label>
                        <br>
                        </label>
                        <label th:for="s19_2_20_f">Quais?</label>
                        <textarea th:field="*{s19_2_20_f}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                        <p class="help-block" th:if="${#fields.hasErrors('s19_2_20_f')}" th:errors="*{s19_2_20_f}">Error</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- 20 -->
        <div class="panel panel-default">
            <div class="panel-heading">20 - Em caso de procedência da ação, ainda que parcial - Aspetos da relação jurídica material</div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- 20.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">20.1 - Situação de fraude:</label>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s20_1_A}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">A - falsos recibos verdes
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s20_1_B}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">B - falsos  estagiários
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s20_1_C}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">C - falsos bolseiros
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s20_1_D}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">D - falsos voluntários
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s20_1_E}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">E - trabalho com o auxílio de plataformas digitais
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s20_1_F}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">F - outro tipo de trabalho à distância.
                            </label>
                            <br>
                            <label th:for="s20_1_F_f">Outro:</label>
                            <input th:field="*{s20_1_F_f}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <p class="help-block" th:if="${#fields.hasErrors('s20_1_F_f')}" th:errors="*{s20_1_F_f}">Error</p>
                            <br>
                        </div>
                        <!-- 20.1.1 -->
                        <div class="col-sm-9">
                            <label th:for="s20_1_1">12.1.1 - Atividade contratada:</label>
                            <input th:field="*{s20_1_1}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <br>
                        </div>
                    </div>
                    <!-- 20.2 -->
                    <div class="col-sm-9">
                        <div class="col-sm-9">
                            <label th:for="s20_2">20.2 - Data do início do vínculo (facto dado como provado):</label>
                            <input th:field="*{s20_2}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <br>
                        </div>
                        <!-- 20.2.1 -->
                        <div class="col-sm-9">
                            <label th:for="s20_2_2">20.2.1 - Data do início do vínculo (facto dado como provado):</label>
                            <input th:field="*{s20_2_1}" type="text" class="form-control" maxlength="100" th:readonly="${formularioForm3.submetido}"/>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 21 -->
        <div class="panel panel-default">
            <div class="panel-heading">21 - Recurso</div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- 21.1 -->
                    <div class="col-sm-9">
                        <label class="control-label">21.1 - Houve recurso para o Tribunal da Relação?</label>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s21_1_A}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">A - Não
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_1_B}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">B - pelo Ministério Público
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_1_C}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">C - pelo trabalhador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_1_D}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">D - pelo empregador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_1_E}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">E - por um terceiro interveniente.
                            </label>
                            <br>
                        </div>
                        <br>
                        <!-- 21.1.1 -->
                        <div class="col-sm-9">
                            <label for="s21_1_1">21.1.1 - Síntese dos principais fundamentos: </label>
                            <textarea id="s21_1_1" name="s21_1_1" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                            <br>
                        </div>
                        <!-- 21.1.2 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.1.2 - Reforma da sentença?</label>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s21_1_2_A}" type="checkbox" class="grupo-21-1-2" th:disabled="${formularioForm3.submetido}">A - Não
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s21_1_2_B}" type="checkbox" class="grupo-21-1-2" th:disabled="${formularioForm3.submetido}">B - Sim.
                                </label>
                                <br>
                                <label th:for="s21_1_2_B_f">Síntese das razões:</label>
                                <textarea id="s21_1_2_B_f" name="s21_1_2_B_f" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                                <p class="help-block" th:if="${#fields.hasErrors('s21_1_2_B_f')}" th:errors="*{s21_1_2_B_f}">Error</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 21.2 -->
                    <div class="col-sm-9">
                        <label class="control-label">21.2 - Houve recurso para o Supremo Tribunal de Justiça?</label>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s21_2_A}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">A - Não
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_2_B}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">B - pelo Ministério Público
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_2_C}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">C - pelo trabalhador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_2_D}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">D - pelo empregador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_2_E}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">E - por um terceiro interveniente.
                            </label>
                            <br>
                        </div>
                        <br>
                        <!-- 21.2.1 -->
                        <div class="col-sm-9">
                            <label for="s21_2_1">21.2.1 - Síntese dos principais fundamentos:</label>
                            <textarea id="s21_2_1" name="s21_2_1" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                            <br>
                        </div>
                        <!-- 21.2.2 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.2.2 - Reforma da decisão a quo?</label>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s21_2_2_A}" type="checkbox" class="grupo-21-2-2" th:disabled="${formularioForm3.submetido}">A - Não
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s21_2_2_B}" type="checkbox" class="grupo-21-2-2" th:disabled="${formularioForm3.submetido}">B - Sim.
                                </label>
                                <br>
                                <label for="s21_2_2_B_f">Síntese das razões:</label>
                                <textarea id="s21_2_2_B_f" name="s21_2_2_B_f" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                                <p class="help-block" th:if="${#fields.hasErrors('s21_2_2_B_f')}" th:errors="*{s21_2_2_B_f}">Error</p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- 21.3 -->
                    <div class="col-sm-9">
                        <label class="control-label">21.3 - Houve recurso para o Tribunal Constitucional?</label>
                        <div class="checkbox indent">
                            <label>
                                <input th:field="*{s21_3_A}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">A - Não
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_3_B}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">B - pelo Ministério Público
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_3_C}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">C - pelo trabalhador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_3_D}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">D - pelo empregador
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_3_E}" type="checkbox" class="" th:disabled="${formularioForm3.submetido}">E - por um terceiro interveniente.
                            </label>
                            <br>
                            <br>
                            <!-- 21.3.1 -->
                            <div class="col-sm-9">
                                <label th:for="s21_3_1">21.3.1- Síntese dos principais fundamentos:</label>
                                <textarea th:field="*{s21_3_1}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                                <br>
                            </div>
                            <!-- 21.3.2 -->
                            <div class="col-sm-9">
                                <label class="control-label">21.3.2- Reforma da decisão a quo?</label>
                                <div class="checkbox indent">
                                    <label>
                                        <input th:field="*{s21_3_2_A}" type="checkbox" class="grupo-21-3-2" th:disabled="${formularioForm3.submetido}">A - Não
                                    </label>
                                    <br>
                                    <label>
                                        <input th:field="*{s21_3_2_B}" type="checkbox" class="grupo-21-3-2" th:disabled="${formularioForm3.submetido}">B - Sim.
                                    </label>
                                    <br>
                                    <label th:for="s21_3_2_B_f">Síntese das razões:</label>
                                    <textarea th:field="*{s21_3_2_B_f}" cols="10" rows="10" class="form-control" maxlength="1000" th:readonly="${formularioForm3.submetido}"></textarea>
                                    <p class="help-block" th:if="${#fields.hasErrors('s21_3_2_B_f')}" th:errors="*{s21_3_2_B_f}">Error</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 21.4 -->
                    <div class="col-sm-9">
                        <label class="control-label">21.4 - Decisão com trânsito em julgado:</label>
                        <div class="checkbox">
                            <label>
                                <input th:field="*{s21_4_A}" type="checkbox" class="grupo-21-4" th:disabled="${formularioForm3.submetido}">A - procedente
                            </label>
                            <br>
                            <label>
                                <input th:field="*{s21_4_B}" type="checkbox" class="grupo-21-4" th:disabled="${formularioForm3.submetido}">B - improcedente
                            </label>
                            <br>
                        </div>
                        <br>
                        <!-- 21.4.1 -->
                        <div class="col-sm-9">
                            <label class="control-label">21.4.1 - Decisão com trânsito em julgado: no mesmo sentido da decisão de primeira instância?</label>
                            <div class="checkbox indent">
                                <label>
                                    <input th:field="*{s21_4_1_A}" type="checkbox" class="grupo-21-4-1" th:disabled="${formularioForm3.submetido}">A - sim
                                </label>
                                <br>
                                <label>
                                    <input th:field="*{s21_4_1_B}" type="checkbox" class="grupo-21-4-1" th:disabled="${formularioForm3.submetido}">B - não
                                </label>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- botões -->
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <input type="submit" name="operation" value="<< Recuar" class="btn btn-primary"/>
                    <input type="submit" name="operation" value="Gravar" th:if="${formularioForm3.submetido == false}" class="btn btn-primary"/>
                    <input type="submit" name="operation" th:if="${formularioForm3.submetido == true}" value="Fechar" class="btn btn-primary"/>
                    <input type="submit" name="operation" value="Submeter" th:if="${formularioForm3.submetido == false}" class="btn btn-success"/>
                </div>
            </div>
        </div>

    </form>
    <br/>
</div>

<div th:replace="layout/layout :: footer"></div>
<script>
    function mutuallyExclusive(groupName) {
        $('.' + groupName).click(function() {
            $('.' + groupName).prop("checked", false);
            $(this).prop("checked", true);
        });
    }

    $(document).ready(function() {
        let groups = [
            "grupo-16",
            "grupo-17","grupo17-1","grupo-17-4-1","grupo-17-4-2",
            "grupo-18-1","grupo-18-2","grupo-18-3",
            "grupo-19",
            "grupo-21-1-2","grupo-21-2-2","grupo-21-3-2","grupo-21-4","grupo-21-4-1"
        ]
        groups.forEach(mutuallyExclusive)
    });
</script>
</body>
</html>